@model Projectmc.Models.Drug

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div>
        <label>Drug Name</label>
        <div>
            @Html.EditorFor(m => m.DrugName)
        </div>
    </div>
    <div>
        <label>Describtion</label>
        <div>
            @Html.EditorFor(m => m.Describtion)
        </div>
    </div>
    <div>
        <label>Price</label>
        <div>
            @Html.EditorFor(m => m.Price)
        </div>
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
}

